# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [59]:
import pandas as pd
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 200)
df = pd.read_csv('horse_data.csv', header=None, na_values='?')
df.columns = ['Surgery','Age','Hospital Number','Rectal temperature','Pulse','Respiratory rate','Temperature of extremities','Peripheral pulse','Mucous membranes','Capillary refill time','Pain','Peristalsis','Abdominal distension','Nasogastric tube','Nasogastric reflux','Nasogastric reflux PH','Rectal examination - feces','Abdomen','Packed cell volume','Total protein','Abdominocentesis appearance','Abdomcentesis total protein','Outcome','Surgical lesion','Lesion site','Lesion type','Lesion code','Cp_data']

In [95]:
df.head()

,Surgery,Age,Hospital Number,Rectal temperature,Pulse,Respiratory rate,Temperature of extremities,Peripheral pulse,Mucous membranes,Capillary refill time,Pain,Peristalsis,Abdominal distension,Nasogastric tube,Nasogastric reflux,Nasogastric reflux PH,Rectal examination - feces,Abdomen,Packed cell volume,Total protein,Abdominocentesis appearance,Abdomcentesis total protein,Outcome,Surgical lesion,Lesion site,Lesion type,Lesion code,Cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,5.0,4.0,4.0,NaN,NaN,NaN,3.0,5.0,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,3.0,4.0,2.0,NaN,NaN,NaN,4.0,2.0,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,3.0,3.0,1.0,NaN,NaN,NaN,1.0,1.0,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,2.0,4.0,4.0,1.0,2.0,5.0,3.0,NaN,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [60]:
# не очень люблю задачи формата - давайте просто посмотрим на данные.
# всё-таки, нужно понять сначала, что именно мы ищем и зачем - от этого зависит тот же набор показателей, которые мы анализируем
# отберем допустим эти
df_flt = df.iloc[:, [0, 1, 3, 4, 6, 10, 12, 22, 23]]
df_flt.head()

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
0,2.0,1,38.5,66.0,3.0,5.0,4.0,2.0,2
1,1.0,1,39.2,88.0,NaN,3.0,2.0,3.0,2
2,2.0,1,38.3,40.0,1.0,3.0,1.0,1.0,2
3,1.0,9,39.1,164.0,4.0,2.0,4.0,2.0,1
4,2.0,1,37.3,104.0,NaN,NaN,NaN,2.0,2

In [80]:
df_flt.groupby('Age').describe().stack()

              Surgery  Rectal temperature       Pulse  \
Age
1   count  275.000000          220.000000  254.000000
    mean     1.410909           38.124545   67.456693
    std      0.492896            0.735988   23.933953
    min      1.000000           35.400000   30.000000
    25%      1.000000           37.700000   48.000000
    50%      1.000000           38.100000   60.000000
    75%      2.000000           38.500000   84.000000
    max      2.000000           40.800000  140.000000
9   count   24.000000           20.000000   22.000000
    mean     1.250000           38.645000  123.363636
    std      0.442326            0.490408   28.628234
    min      1.000000           38.000000   84.000000
    25%      1.000000           38.275000  100.000000
    50%      1.000000           38.600000  124.000000
    75%      1.250000           38.925000  144.500000
    max      2.000000           39.700000  184.000000

           Temperature of extremities        Pain  Abdominal distension  \
Age
1   count                  228.000000  228.000000            229.000000
    mean                     2.364035    2.938596              2.240175
    std                      1.042669    1.316015              1.059192
    min                      1.000000    1.000000              1.000000
    25%                      1.000000    2.000000              1.000000
    50%                      3.000000    3.000000              2.000000
    75%                      3.000000    4.000000              3.000000
    max                      4.000000    5.000000              4.000000
9   count                   16.000000   17.000000             15.000000
    mean                     2.125000    3.117647              2.666667
    std                      1.087811    1.218726              1.112697
    min                      1.000000    1.000000              1.000000
    25%                      1.000000    2.000000              2.000000
    50%                      2.500000    3.000000              3.000000
    75%                      3.000000    4.000000              3.500000
    max                      4.000000    5.000000              4.000000

              Outcome  Surgical lesion
Age
1   count  275.000000       276.000000
    mean     1.552727         1.369565
    std      0.749660         0.483564
    min      1.000000         1.000000
    25%      1.000000         1.000000
    50%      1.000000         1.000000
    75%      2.000000         2.000000
    max      3.000000         2.000000
9   count   24.000000        24.000000
    mean     1.541667         1.291667
    std      0.588230         0.464306
    min      1.000000         1.000000
    25%      1.000000         1.000000
    50%      1.500000         1.000000
    75%      2.000000         2.000000
    max      3.000000         2.000000

In [82]:
df_flt.describe()

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
count,299.000000,300.000000,240.000000,276.000000,244.000000,245.00000,244.000000,299.000000,300.000000
mean,1.397993,1.640000,38.167917,71.913043,2.348361,2.95102,2.266393,1.551839,1.363333
std,0.490305,2.173972,0.732289,28.630557,1.045054,1.30794,1.065131,0.737187,0.481763
min,1.000000,1.000000,35.400000,30.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,1.000000,2.00000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,3.000000,3.00000,2.000000,1.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,3.000000,4.00000,3.000000,2.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,4.000000,5.00000,4.000000,3.000000,2.000000

In [93]:
# итак, посмотрим, так сказать, среднююю температуру по лошадкам
# Age - поскольку я разбил лошадок по возрасту, то видно, что старых скакунов в базе намного больше, что логично
# Surgery - медиана - 1 (большинство случае не требовали хирургического вмешательства), при этом третий квартиль и среднее у старых лошадок больше, т.е. их оперируют чаще
# Rectal temperature - средняя и медианная температуру выше нормы (37,8), стандартное отклонение и максимум у старых лошадей выше - т.е. разброс больше, чем у молодых. При этом в среднем молодые чуть горячее.
# Pulse - большой размах по пульсу у всех типов лошаедей. Можно посмотреть на выбросы. Интересно, что пульс молодых лошадок во втором квартиле в 2 раза выше старых (и намного выше нормы). Скорее всего, это связано с типом болезней.
# Temperature of extremities - это не ранжированный показатель, тут его не проанализируешь.
# Pain - ранжированный, поэтому можно увидеть, что в среднем (медиана) лошадки испытывают среднюю боль, причем молодые чуть больше
# Abdominal distension - опять же тут, наверное, только медиана интересна - в среднем молодые лошадки чаще имеют moderate вздутый живот
# Outcome - не ранжированный.
# Surgical lesion - можно сравнить с Surgery. В среднем (по mean) выходи, что у старых лошаей было больше операций, чем того требовалось (1,41 против 1,37). У молодых наборот (1,25/1,29)

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [91]:
q1 = df_flt['Rectal temperature'].quantile(0.25)
q3 = df_flt['Rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
df_flt[~df_flt['Rectal temperature'].between(lower_bound, upper_bound, inclusive=True) & df_flt['Rectal temperature'].notna()]

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
20,1.0,1,39.9,72.0,1.0,5.0,4.0,1.0,1
44,1.0,1,35.4,140.0,3.0,4.0,NaN,3.0,1
54,2.0,1,40.3,114.0,3.0,2.0,3.0,3.0,1
75,1.0,9,39.7,100.0,3.0,2.0,NaN,3.0,1
80,1.0,1,36.4,98.0,3.0,4.0,2.0,2.0,1
91,2.0,1,40.3,114.0,3.0,2.0,3.0,2.0,1
99,2.0,1,39.6,108.0,3.0,2.0,3.0,1.0,2
118,1.0,1,36.5,78.0,1.0,5.0,1.0,1.0,1
141,2.0,1,36.0,42.0,NaN,NaN,NaN,2.0,2
238,2.0,1,36.1,88.0,3.0,3.0,2.0,3.0,1
251,2.0,1,36.6,42.0,3.0,1.0,1.0,2.0,1
259,1.0,1,40.8,72.0,3.0,2.0,1.0,2.0,1
281,2.0,1,40.0,78.0,3.0,2.0,1.0,2.0,1
298,1.0,1,36.5,100.0,3.0,3.0,3.0,1.0,1

In [ ]:
# Не очень разбираясь в лошадях, предположу, что (за исключением пропущенных значений) выбросы температуры вполне легитимны.
# Они не настолько сильно отличаются от среднего, чтобы вызывать подозрение.

In [92]:
q1 = df_flt['Pulse'].quantile(0.25)
q3 = df_flt['Pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
df_flt[~df_flt['Pulse'].between(lower_bound, upper_bound, inclusive=True) & df_flt['Pulse'].notna()]

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
3,1.0,9,39.1,164.0,4.0,2.0,4.0,2.0,1
41,2.0,9,39.0,150.0,NaN,NaN,NaN,1.0,1
55,1.0,9,38.6,160.0,3.0,3.0,4.0,2.0,1
255,1.0,9,38.8,184.0,1.0,4.0,3.0,2.0,1
275,1.0,9,38.8,150.0,1.0,5.0,2.0,2.0,1

In [ ]:
# Тут сложнее.
# Опять же не ветеринар, но в доках указано, что в среднем пульс должен быть 20-25, при этом третий квартиль у нас 88
# Пульс 160-180 в 2-3 раза больше. Причем, это только молодые лошади в выборке.
# Как минимум, надо уточнить у ветеринара, возможен ли такой пульс в принципе. С выборкой бы я пока ничего не делал.
# Возможно, в целом данные по молодым лошадям завышены по каким-то причинам - слишком больше отличие от старых.

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [94]:
df_flt.describe()

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
count,299.000000,300.000000,240.000000,276.000000,244.000000,245.00000,244.000000,299.000000,300.000000
mean,1.397993,1.640000,38.167917,71.913043,2.348361,2.95102,2.266393,1.551839,1.363333
std,0.490305,2.173972,0.732289,28.630557,1.045054,1.30794,1.065131,0.737187,0.481763
min,1.000000,1.000000,35.400000,30.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,1.000000,2.00000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,3.000000,3.00000,2.000000,1.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,3.000000,4.00000,3.000000,2.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,4.000000,5.00000,4.000000,3.000000,2.000000

In [96]:
# В целом, из выбраного дата-сета (отстраненно) интересны Surgery, Age, Outcome, Surgical lesion.
# Они же являются наиболее полными данными.
# Остальные отсутствующие значения попробуем заполнить медианой с максимальной разбивкой по группам, указанным выше.

# Итого:
# Surgery - 1 пропуск, можно, конечно, заполнить значением из Surgical lesion, но лучше удалить (поскольку это наш основной столбец)
# Age - есть все значения.
# Rectal temperature - нет 60/300 значений. Довольно много. Попробуем заполнить медианным по группам с учетом Temperature of extremities, возрасту, хирург. вмеш, outcome
# Pulse - нет 24/300 значений. Заполним медианным по surgery, age, outcome.
# Temperature of extremities - нет 56/300. Заполним медианным по surgery, age, outcome (плюс проверим рект. температуру)
# Pain - нет 55/300. Оценочная характеристика. Удалить бы, конечно, но слишком много пропушенных будет. Заполним медианным по surgery, age, outcome (плюс проверим рект. температуру)
# Abdominal distension -аналогично pain
# Outcome - есть все, кроме одного. Эту запись удалим - непонятно, какой был итог осмотра, а 1 из 300 не так много.
# Surgical lesion - есть все.
for col in df_flt.columns:
    pct_missing = df_flt[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Surgery - 0.3%
Age - 0.0%
Rectal temperature - 20.0%
Pulse - 8.0%
Temperature of extremities - 18.7%
Pain - 18.3%
Abdominal distension - 18.7%
Outcome - 0.3%
Surgical lesion - 0.0%

In [150]:
df_res=df_flt
df_flt=df_flt.dropna(subset=['Surgery', 'Outcome', 'Surgical lesion'])
df_res['Rectal temperature'].fillna(df_flt.groupby(['Surgery','Age','Outcome','Surgical lesion'])['Rectal temperature'].transform('median'), inplace=True)
df_res['Pulse'].fillna(df_flt.groupby(['Surgery','Age','Outcome','Surgical lesion'])['Pulse'].transform('median'), inplace=True)
df_res['Temperature of extremities'].fillna(df_flt.round({'Rectal temperature': 0}).groupby(['Surgery','Age','Outcome','Surgical lesion','Rectal temperature'])['Temperature of extremities'].transform('median'), inplace=True)
df_res['Pain'].fillna(df_flt.groupby(['Surgery','Age','Outcome','Surgical lesion'])['Pain'].transform('median'), inplace=True)
df_res['Abdominal distension'].fillna(df_flt.groupby(['Surgery','Age','Outcome','Surgical lesion'])['Abdominal distension'].transform('median'), inplace=True)
# добиваем остатки за счет отстутвующих групп
df_res['Rectal temperature'].fillna(df_flt.groupby(['Surgery','Age'])['Rectal temperature'].transform('median'), inplace=True)
df_res['Pulse'].fillna(df_flt.groupby(['Surgery','Age'])['Pulse'].transform('median'), inplace=True)
df_res['Temperature of extremities'].fillna(df_flt.groupby(['Surgery','Age'])['Temperature of extremities'].transform('median'), inplace=True)
df_res['Pain'].fillna(df_flt.groupby(['Surgery','Age'])['Pain'].transform('median'), inplace=True)
df_res['Abdominal distension'].fillna(df_flt.groupby(['Surgery','Age'])['Abdominal distension'].transform('median'), inplace=True)

df_res

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
0,2.0,1,38.50,66.0,3.0,5.0,4.0,2.0,2
1,1.0,1,39.20,88.0,4.0,3.0,2.0,3.0,2
2,2.0,1,38.30,40.0,1.0,3.0,1.0,1.0,2
3,1.0,9,39.10,164.0,4.0,2.0,4.0,2.0,1
4,2.0,1,37.30,104.0,3.0,5.0,2.0,2.0,2
...,...,...,...,...,...,...,...,...,...
295,1.0,1,38.05,120.0,4.0,2.0,3.0,3.0,2
296,2.0,1,37.20,72.0,3.0,4.0,3.0,3.0,1
297,1.0,1,37.50,72.0,4.0,4.0,3.0,2.0,1
298,1.0,1,36.50,100.0,3.0,3.0,3.0,1.0,1
299,1.0,1,37.20,40.0,3.0,2.0,3.0,3.0,2

In [151]:
# df_res['Rectal temperature'].fillna(df_res.groupby(['Surgery','Age','Outcome','Surgical lesion'])['Rectal temperature'].transform('median'), inplace=True)
for col in df_res.columns:
    pct_missing = df_res[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Surgery - 0.0%
Age - 0.0%
Rectal temperature - 0.0%
Pulse - 0.0%
Temperature of extremities - 0.0%
Pain - 0.0%
Abdominal distension - 0.0%
Outcome - 0.0%
Surgical lesion - 0.0%

In [152]:
df_flt.describe()

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
count,299.000000,299.00000,239.000000,275.000000,243.000000,244.000000,243.000000,299.000000,299.000000
mean,1.397993,1.64214,38.168619,72.000000,2.345679,2.946721,2.271605,1.551839,1.364548
std,0.490305,2.17730,0.733744,28.646219,1.046369,1.308892,1.064207,0.737187,0.482110
min,1.000000,1.00000,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,3.000000,3.000000,2.000000,1.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,3.000000,4.000000,3.000000,2.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,4.000000,5.000000,4.000000,3.000000,2.000000

In [153]:
df_res.describe()

,Surgery,Age,Rectal temperature,Pulse,Temperature of extremities,Pain,Abdominal distension,Outcome,Surgical lesion
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.397993,1.64214,38.152341,72.085284,2.351171,2.956522,2.257525,1.551839,1.364548
std,0.490305,2.17730,0.665745,28.237997,1.013544,1.247057,1.010300,0.737187,0.482110
min,1.000000,1.00000,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.500000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,3.000000,3.000000,2.000000,1.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,3.000000,4.000000,3.000000,2.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,4.000000,5.000000,4.000000,3.000000,2.000000

In [ ]:
# получили заполненный DF - общие показатели с пропущенными данными изменились ан масс незначительно

In [ ]:
# 1:  surgery?
#           1 = Yes, it had surgery
#           2 = It was treated without surgery
#  2:  Age
#           1 = Adult horse
#           2 = Young (< 6 months) - Судя по данным, всё-таки 9 имеется в виду
# 4:  rectal temperature
#           - linear
#           - in degrees celsius.
#           - An elevated temp may occur due to infection.
#           - temperature may be reduced when the animal is in late shock
#           - normal temp is 37.8
#           - this parameter will usually change as the problem progresses
#                eg. may start out normal, then become elevated because of
#                    the lesion, passing back through the normal range as the
#                    horse goes into shock
# 5:  pulse
#           - linear
#           - the heart rate in beats per minute
#           - is a reflection of the heart condition: 30 -40 is normal for adults
#           - rare to have a lower than normal rate although athletic horses
#             may have a rate of 20-25
#           - animals with painful lesions or suffering from circulatory shock
#             may have an elevated heart rate            
# 7:  temperature of extremities
#         - a subjective indication of peripheral circulation
#           - possible values:
#                1 = Normal
#                2 = Warm
#                3 = Cool
#                4 = Cold
#           - cool to cold extremities indicate possible shock
#           - hot extremities should correlate with an elevated rectal temp.
#  11: pain - a subjective judgement of the horse's pain level
#           - possible values:
#                1 = alert, no pain
#                2 = depressed
#                3 = intermittent mild pain
#                4 = intermittent severe pain
#                5 = continuous severe pain
#           - should NOT be treated as a ordered or discrete variable!
#           - In general, the more painful, the more likely it is to require
#             surgery
#           - prior treatment of pain may mask the pain level to some extent
       
#  13: abdominal distension
#           - An IMPORTANT parameter.
#           - possible values
#                1 = none
#                2 = slight
#                3 = moderate
#                4 = severe
#           - an animal with abdominal distension is likely to be painful and
#             have reduced gut motility.
#           - a horse with severe abdominal distension is likely to require
#             surgery just tio relieve the pressure
#  23: outcome
#           - what eventually happened to the horse?
#           - possible values:
#                1 = lived
#                2 = died
#                3 = was euthanized
#  24: surgical lesion?
#           - retrospectively, was the problem (lesion) surgical?
#           - all cases are either operated upon or autopsied so that
#             this value and the lesion type are always known
#           - possible values:
#                1 = Yes
#                2 = No

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.