In [3]:
import pandas as pd

# задание 1#
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [77]:
mv_data = pd.read_csv('movies.csv')
rt_data = pd.read_csv('ratings.csv')
# mv_data.head()
# rt_data.head()

mv_data[mv_data.movieId == rt_data[rt_data['rating'] == 5.0]['movieId'].value_counts().keys()[0]]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2 #
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [102]:
pw_data = pd.read_csv('power.csv')
pw_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [133]:
# pw_data[pw_data['country'].str.contains('lith', case=False) ]['country'].unique()
# Lithuania, Latvia, Estonia
(pw_data[
(pw_data['country'].isin(['Lithuania', 'Latvia', 'Estonia']))
& pw_data['category'].isin([4,12,21])
& (pw_data['quantity']>=0)
& (pw_data['year'].isin(range(2005, 2011)))]
['quantity'].sum()
)

240580.0

# Задание 3 #
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [132]:
# top 10 анимешек
tst = pd.read_html('http://www.world-art.ru/animation/rating_top.php', header=0, encoding='CP1251')[6]
tst.head(10)

,№,Наименование,Расчетный балл,Голосов,Средний балл
0,1,Крутой учитель Онидзука [1999],9.1856,13733,9.2
1,2,Код Гиас: Восставший Лелуш (второй сезон) [2008],9.1423,9871,9.1
2,3,Стальной алхимик [ТВ-2] [2009],9.1237,6610,9.1
3,4,Унесённые призраками [2001],9.0869,7321,9.1
4,5,Врата Штейна [ТВ] [2011],9.0862,8269,9.1
5,6,Кланнад [ТВ-2] [2008],9.0817,6169,9.1
6,7,Бек [2004],9.0413,8339,9.0
7,8,Твоё имя [2016],9.0185,3541,9.0
8,9,Брошенный кролик [2011],9.0150,5224,9.0
9,10,Тетрадь смерти [ТВ] [2006],8.9876,12067,9.0